# macOS
.DS_Store

# Swift / Swift Package Manager
.build/
.swiftpm/
Packages/
Package.resolved

# Xcode (in case any project files are generated)
*.xcodeproj/
*.xcworkspace/
xcuserdata/

# App Build output
build/
